@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

.test {
  border: 1px solid gray;
}

.bg-pri {
  background-color: rgb(70, 68, 68);
  color:white
}
.bg-dark {
  background-color: black;
}